{% load static %}

<!-- Header -->
<header class="header fixed-top d-flex align-content-center flex-wrap">
    <!-- Logo -->
    <div class="logo">
        <a href="{% url 'panel' %}" class="default-logo"><img src="{% static 'assetsPanel/img/yenilogo.png' %}"
                                                              alt=""></a>
        <a href="{% url 'panel' %}" class="mobile-logo"><img src="{% static 'assetsPanel/img/yenilogo.png' %}"
                                                             alt=""></a>
    </div>
    <!-- End Logo -->

    <!-- Main Header -->
    <div class="main-header">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-3 col-lg-1 col-xl-8">
                    <!-- Header Left -->
                    <div class="main-header-left h-100 d-flex align-items-center">
                        <!-- Main Header User -->
                        <div class="main-header-user">
                            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                <div class="menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>

                                <div class="user-profile d-xl-flex align-items-center d-none">
                                    <!-- User Avatar -->
                                    <!-- End User Avatar -->
                                    <!-- User Info -->
                                    <div class="user-info">
                                        <h4 class="user-name">{{ name }}</h4>
                                        <p class="user-email">{{ email }}</p>
                                    </div>
                                    <!-- End User Info -->
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                <a href="{% url 'cikis-yap' %}">Çıkış Yap</a>
                            </div>
                        </div>
                        <!-- End Main Header User -->

                        <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                    <a href="{% url 'sepeti-sifirla' %}" class="btn">Sepeti Sıfırla ( F2 )</a>
                        </div>

                        <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                    <a href="{% url 'Arama' %}" class="btn">Ürün Ara ( F3 )</a>
                        </div>

                        <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                    <a href="{% url 'musteri-listesi' %}" class="btn">Müşteri Listesi ( F4 )</a>
                        </div>

                        <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                    <a href="{% url 'AramaYeni' %}" class="btn">Yeni Tasarım ( F5 )</a>
                        </div>

                        <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                    <a href="{% url 'AramaYeni2' %}" class="btn">Yeni Tasarım 2 ( F6 )</a>
                        </div>


                        <!-- Main Header Menu -->
                        <div class="main-header-menu d-block d-lg-none">
                            <div class="header-toogle-menu">
                                <!-- <i class="icofont-navigation-menu"></i> -->
                                <img src="{% static 'assetsPanel/img/menu.png' %}" alt="">
                            </div>
                        </div>
                        <!-- End Main Header Menu -->
                    </div>
                    <!-- End Header Left -->
                </div>
                <div class="col-9 col-lg-11 col-xl-4">
                    <!-- Header Right -->
                    <div class="main-header-right d-flex justify-content-end">
                        <ul class="nav">


                            <li class="d-none d-lg-flex">
                                <!-- Main Header Time -->
                                <div class="main-header-date-time text-right">
                                    <h3 class="time">
                                        <span id="hours"></span>
                                        <span id="point">:</span>
                                        <span id="min"></span>
                                    </h3>
                                    <span class="date"><span id="date">En Güzel Şiirler.</span></span>
                                </div>
                                <!-- End Main Header Time -->
                            </li>



                                <!-- End Main Header Notification -->
                            </li>
                        </ul>
                    </div>
                    <!-- End Header Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Header -->
</header>
<!-- End Header -->