{% extends 'system/user/userBase.html' %}
{% load static %}






{% block userContent %}

        <script>
            document.addEventListener('keydown', function (event) {
                /*if (event.key === 'F2') {
                    // F1 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/sepeti-sifirla/';
                } else if (event.key === 'F3') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/urun-ara/'; }*/
                if (event.key === 'F4') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/musteri-ekle/';
                } else if (event.key === 'F2') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/urun-ara-beyaz/';
                } else if (event.key === 'F3') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/sepeti-sifirla-beyaz/';
                }
            });
        </script>

    <!-- Main Content -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- AnaKategoriler -->

            <div class="row">
    <div class="col-lg-12" style="margin-top: 8px;">
<form action="{% url 'borc-duzenle' musteri_id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="isim_soyisim">Tutar</label>
                <input type="number" name="tutar" id="tutar" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="aciklama">Açıklama:</label>
                <textarea name="aciklama" id="aciklama" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <button type="submit" name="islem" value="borcekle" class="btn s_alert bg-danger text-white mr-3 mr-sm-4 mb-10">Borç Ekle</button>
    <button type="submit" name="islem" value="borcdus" class="btn s_alert bg-success text-white mr-3 mr-sm-4 mb-10">Borç Düş</button>
</form>

    </div>
</div>




        </div>


    </div>
    <!-- End Main Content -->



{% endblock userContent %}