{% extends 'system/user/userBase.html' %}
{% load static %}


{% block userContent %}
    <!-- Main Content -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    {% if siirler_listesi %}
                        <!-- Card -->
                        <div class="card bg-transparent">
                            <div class="card-body card_color-bg">
                                <h4 class="pl-2 pt-2 pb-2">Tüm Şiirlerinin Listesi</h4>
                            </div>

                            <div class="table-responsive">
                                <table class="order-list-table text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID<img src="../../assets/img/svg/table-down-arrow.svg" alt="" class="svg">
                                        </th>
                                        <th>Başlık<img src="../../assets/img/svg/table-down-arrow.svg" alt=""
                                                       class="svg"></th>
                                        <th>Yazarı<img src="../../assets/img/svg/table-down-arrow.svg" alt=""
                                                       class="svg"></th>
                                        <th>Okunma Sayısı<img src="../../assets/img/svg/table-down-arrow.svg" alt=""
                                                              class="svg"></th>
                                        <th>Favori</th>
                                        <th>Beğeni</th>
                                        <th>Ekleme Tarihi</th>
                                        <th>Durumu</th>
                                        <th>Açıklama</th>
                                        <th>Şiire Git</th>
                                    </tr>
                                    </thead>
                                    <tbody class="card_color-bg">
                                    {% for siir in siirler_listesi %}
                                        <tr>
                                            <td>{{ siir.siir.id }}</td>
                                            <td>{{ siir.siir.title }}</td>
                                            <td>{{ siir.siir.yazar }}</td>
                                            <td>{{ siir.siir.okunma_sayisi }}</td>
                                            <td>{{ siir.favori_sayisi }}</td>
                                            <td>{{ siir.begeni_sayisi }}</td>
                                            <td>{{ siir.siir.olusturma_tarihi }}</td>

                                            {% if siir.siir.status == "Yayinda" %}
                                                <td>
                                                    <button type="button"
                                                            class="status-btn completed">{{ siir.siir.status }}</button>
                                                </td>

                                            {% elif siir.siir.status == "Kontrol" %}
                                                <td>
                                                    <button type="button"
                                                            class="status-btn on_hold">{{ siir.siir.status }}</button>
                                                </td>

                                            {% elif siir.siir.status == "Reddedildi" %}
                                                <td>
                                                    <button type="button"
                                                            class="status-btn un_paid">{{ siir.siir.status }}</button>
                                                </td>

                                            {% endif %}

                                            <td>{{ siir.siir.aciklama }}</td>

                                            {% if siir.siir.status == "Yayinda" %}
                                                <td>
                                                    <a href="{% url 'siir:siir_detail' siir_slug=siir.siir.slug %}"
                                                       target="_blank">
                                                        <button type="button" class="status-btn paid">Şiir'e Git
                                                        </button>
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <button type="button"
                                                            class="status-btn un_paid">Henüz Yayında Değil
                                                    </button>
                                                </td>

                                            {% endif %}

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Card -->


                    {% else %}
                        <!-- şiir Yoksa -->
                        <div class="col-xl-3 col-lg-6">
                            <!-- Card -->
                            <div class="card mb-30">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="">
                                            <h4>Maalesef Hiç Şiir Bulunamadı</h4>
                                        </div>


                                    </div>

                                    <div>
                                        <p class="font-14 mb-1">Bulunan Şiir Sayısı</p>
                                        <h2>0</h2>
                                    </div>

                                    <div class="process-bar-wrapper style--three">
                                        <span class="process-name mb-2">Yayınlanan Şiir</span>
                                        <span class="process-width mb-2">0%</span>
                                        <span class="process-bar style--two" data-process-width="0"></span>
                                    </div>
                                    <p class="font-14 mt-10 c4 mb-30">*Hadi sakın durma şiirlerini paylaş bizimle !</p>

                                    <a href="#" class="btn mb-10">Yeni Şiir Ekle</a>
                                    <a href="#" class="btn mb-10 ">Yeni Söz Ekle</a>
                                    <a href="#" class="btn mb-10">Yeni Hikaye Ekle</a>

                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content -->


{% endblock userContent %}