{% extends 'system/user/userBase.html' %}
{% load static %}


{% block userContent %}
    <!-- Main Content -->
    <div class="main-content d-flex justify-content-center align-items-center">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Base Control -->
                    <div class="form-element base-control mb-30">
                        <h2 class="font-20 mb-4 text-center">{{ Turu }}</h2>

                        <!-- Form -->
                        <form action="{% url 'konsol:siir-ekle' %}" method="POST">
                            {% csrf_token %}
                            <!-- Form Group -->
                            <div class="form-group mb-4">
                                <label for="large1" class="mb-2 bold">Şiir Başlığı</label>
                                <input type="text" name="title" class="theme-input-style large" id="large1"
                                       placeholder="Lütfen Şiirinize Başlık Giriniz">
                            </div>
                            <!-- End Form Group -->


                            <label>Alt Kategorileri:</label><br>
                            <div class="row">
                                {% for alt_kategori in TumAltKategori %}
                                    <div class="col-4">
                                        <div class="d-flex align-items-center mb-3">
                                            <!-- Custom Checkbox -->
                                            <label class="custom-checkbox solid success position-relative mr-2">
                                                <input type="checkbox" name="alt_kategorisi"
                                                       value="{{ alt_kategori.id }}">
                                                <span class="checkmark"></span>
                                            </label>
                                            <!-- End Custom Checkbox -->
                                            <label>{{ alt_kategori.alt_kategori_adi }}</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>


                            <style>
                                #exampleTextarea1 {
                                    height: 500px;
                                    text-align: center;

                                }
                            </style>


                            <div class="form-group mb-4">
                                <label for="exampleTextarea1" class="mb-2 bold d-block text-center">Şiiriniz</label>
                                <textarea name="icerik" id="exampleTextarea1" class="theme-input-style" rows="50"
                                          placeholder="Lütfen Şiirinizi Yazınız"></textarea>
                            </div>
                            <div class="form-group mb-4">
                                <label for="textarea1" class="mb-2 bold d-block">Şiiriniz Hakkında ( Altta çıkan detay
                                    bölümü )</label>
                                <textarea name="hakkinda" id="textarea1" class="theme-input-style style--three"
                                          placeholder="Şiiriniz hakkında bilgi verebilir siniz."></textarea>
                            </div>


                            <!-- Button Group -->
                            <div class="d-flex justify-content-center pt-1">
                                <button type="submit" class="btn long">Şiirlerime Ekle 😍</button>
                            </div>
                            <!-- End Button Group -->
                        </form>
                        <!-- End Form -->
                    </div>
                    <!-- End Base Control -->


                </div>


            </div>
        </div>
    </div>

    </div>
    <!-- End Main Content -->


{% endblock userContent %}