{% extends 'system/user/userBaseYeni.html' %}
{% load static %}


{% block userContent %}


        <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'F2') {
                // F1 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                window.location.href = '/sepeti-sifirla/';
            }
            else if (event.key === 'F3') {
                // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                window.location.href = '/urun-ara/';
            }
            else if (event.key === 'F4') {
                // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                window.location.href = '/musteri-ekle/';
            }
            else if (event.key === 'F5') {
                // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                window.location.href = '/urun-ara-yeni/';
            }
            else if (event.key === 'F6') {
                // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                window.location.href = '/urun-ara-yeni-2/';
            }
        });
    </script>

    <!-- Main Content -->
    <div style="margin-top: 50px;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Base Control -->
                    <div class="form-element base-control mb-30">
                        <h2 class="font-20 mb-4 text-center">{{ Turu }}</h2>

                        <style>
                            .form-container {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }

                            .form-container input[name="title"] {
                                width: 80%;
                                margin-right: 10px; /* İki eleman arasına 10px boşluk ekler */
                            }

                            .form-container button {
                                width: 20%;
                            }
                        </style>




                        <!-- End Form -->

                        <script>
                            function filtrele(kategori) {
                                // Favoriler listesini filtrele
                                var favoriler = document.querySelectorAll('.favori');
                                favoriler.forEach(function (favori) {
                                    if (favori.dataset.kategori === kategori) {
                                        favori.style.display = 'block';
                                    } else {
                                        favori.style.display = 'none';
                                    }
                                });
                            }
                        </script>
<div class="row">
    <div class="col-3">
        <form action="{% url 'Arama' %}" method="POST">
            {% csrf_token %}
            <div class="form-container mb-4">
                <input type="text" name="title" class="theme-input-style large" id="large1"
                       placeholder="Lütfen Aranacak Barkod / Ürün Adı Giriniz" style="font-size: 12px; padding: 10px;" autofocus>
                <button type="submit" class="btn long" style="font-size: 12px; padding: 10px;">Ürünü Ara 🔍</button>
            </div>
        </form>
    </div>
    <div class="col-9">
        <!-- AnaKategoriler -->
        <div class="row">
            {% for Kategori in AnaKategoriler %}
                <div class="col">
                    <form action="{% url 'sepete-ekle' %}" method="POST">
                        {% csrf_token %}

                        <div class="media-body" style="margin-left: 10px;">
                            <button type="button" onclick="filtrele('{{ Kategori.Grup_Adi }}')"
                                    class="btn s_alert bg-success text-white mr-1 mr-sm-1 mb-1"
                                    id="submit"
                                    style="font-size: 12px; padding: 10px;">{{ Kategori.Grup_Adi }}</button>
                        </div>

                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




                        <!-- AltFavoriler -->
                        <div class="row">
                            {% for favori in Favoriler %}
                                <div class="col-md-2 favori" data-kategori="{{ favori.Liste_grup }}"
                                     style="margin-top: 5px;">
                                   <form action="{% url 'sepete-ekle' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="barkod" value="{{ favori.Barkod }}">
                                        <button type="submit" class="btn btn-sm" style="padding: 13px; font-size: 15px;">{{ favori.Urun_Adi }}</button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>


<style>
    .form-control.pd {
        font-size: 20px;
    }
    .btn.style--three {
        font-size: 12px;
    }
</style>

<div class="row justify-content-center align-items-center" style="min-height: 5vh;">
    <form action="{% url 'manuel-tutar' %}" method="POST">
        {% csrf_token %}
        <div class="form-group mb-4 text-center" style="margin-top: 10px;">
            <label class="mb-2 font-14 bold">Manuel Tutar Gir</label>
            <div class="theme-input-group style--two">
                <input type="text" class="form-control pd" name="tutar" placeholder="Tutar">
                <div class="input-group-append">
                    <button type="submit" class="btn style--three">Sepete Ekle</button>
                </div>
            </div>
        </div>
    </form>
</div>



                    </div>
                    <!-- End Base Control -->


                </div>
                <div class="col-lg-12">
                    <div class="card mb-30">
                        <div class="card-body py-30 pb-0">
                            {% if total %}
                                <h4 class="font-30 text-center">GENEL TOPLAM: {{ total }} TL</h4>
                            {% else %}
                                <h4 class="font-30 text-center">Sepette Hiç Ürüm Yok</h4>
                            {% endif %}

                        </div>
                        <div class="table-responsive">
                            <table class="style--four table-striped  text-nowrap">
                                <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Adeti</th>
                                    <th>Fiyatı</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Sepetten Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for urun in sepet_urunleri %}

                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="country-name">{{ urun.urun.Urun_Adi }}</div>
                                            </div>

                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                            <script>
                                                $(document).ready(function () {
                                                    $('select[name="miktar"]').on('change', function () {
                                                        // Seçilen miktarı yakala
                                                        var miktar = $(this).val();

                                                        // Ürün ID'sini yakala
                                                        var urun_id = $(this).data('urun-id');

                                                        // Sepeti güncelle
                                                        $.ajax({
                                                            url: '/urun_miktar_guncelle/' + urun_id + '/',
                                                            type: 'POST',
                                                            data: {
                                                                miktar: miktar,
                                                            },
                                                            success: function (response) {
                                                                // Sayfayı yenile
                                                                location.reload();
                                                            },
                                                        });
                                                    });
                                                });

                                            </script>
                                        </td>


                                        <td>
                                            <select name="miktar" class="form-control form-control-sm"
                                                    data-urun-id="{{ urun.id }}">
                                                {% for i in Sayi %}
                                                    {% if i == urun.miktar %}
                                                        <option value="{{ i }}" selected>{{ i }}</option>
                                                    {% else %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>


                                        <td>{{ urun.toplam_fiyat }}</td>

                                        <td>{{ urun.urun.Tutar }}</td>
                                        <td>
                                            <form action="{% url 'sepet_urun_sil' urun.id %}" method="POST">
                                                {% csrf_token %}
                                                <!--<input type="submit" value="Sil"> -->
                                                <button type="submit" class="status-btn un_paid">Sil</button>
                                            </form>
                                        </td>
                                    </tr>


                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="bg-3rd text-white mb-30">
                        <div class="card-body py-30 pb-0">
                            <h4 class="font-20 ">Bulunan Ürünler</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="style--four table-striped table-inverse text-nowrap">
                                <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Barkod</th>
                                    <th>Stok</th>
                                    <th>Fiyatı</th>
                                    <th>Sepete Ekle</th>
                                </tr>
                                </thead>
                                <tbody>


                                <style>
                                    .my-input {
                                        width: 3px !important;
                                        text-align: center;
                                    }
                                </style>

                                {% if results %}


                                    {% for result in results %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="country-name">{{ result.Urun_Adi }}</div>
                                                </div>
                                            </td>
                                            <td>{{ result.Barkod }}</td>

                                            <td>
                                                {% if result.Stok_Durumu %}
                                                    <button type="button" class="status-btn completed">Stokta</button>
                                                {% else %}
                                                    <button type="button" class="status-btn un_paid">Stokta Yok</button>
                                                {% endif %}
                                            </td>
                                            <td>{{ result.Tutar }}</td>
                                            <td>
                                                <form method="POST" action="/sepete-ekle/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="barkod" value="{{ result.Barkod }}">

                                                    <!--<button type="submit">Sepete Ekle</button>-->
                                                    <button type="submit" class="status-btn completed">Sepete Ekle
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">
                                                Ürün Bulunamadı.
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>






    </div>
    <!-- End Main Content -->



{% endblock userContent %}