{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Page Title -->
    <title>Beyaz Tema</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'WhiteAssetsPanel/img/favicon.png' %}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
    <link rel="stylesheet" href="{% static 'WhiteAssetsPanel/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'WhiteAssetsPanel/fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'WhiteAssetsPanel/plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
    <link rel="stylesheet" href="{% static 'WhiteAssetsPanel/css/style.css' %}">
    <!-- ======= END MAIN STYLES ======= -->

</head>

<body>

<!-- Offcanval Overlay -->
<div class="offcanvas-overlay"></div>
<!-- Offcanval Overlay -->

<!-- Wrapper -->
<div class="wrapper">
    <!-- Header -->
    <header class="header white-bg fixed-top d-flex align-content-center flex-wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'home' %}" class="default-logo"><img src="{% static 'WhiteAssetsPanel/img/logo.png' %}"
                                                                 alt=""></a>

        </div>
        <!-- End Logo -->
        <script>
            document.addEventListener('keydown', function (event) {
                /*if (event.key === 'F2') {
                    // F1 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/sepeti-sifirla/';
                } else if (event.key === 'F3') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/urun-ara/'; }*/
                if (event.key === 'F4') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/musteri-ekle/';
                } else if (event.key === 'F2') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/urun-ara-beyaz/';
                } else if (event.key === 'F3') {
                    // F2 tuşuna basıldığında, belirtilen URL'ye bir istek gönder
                    window.location.href = '/sepeti-sifirla-beyaz/';
                }
            });
        </script>
        <!-- Main Header -->
        <div class="main-header">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-3 col-lg-1 col-xl-8">
                        <!-- Header Left -->
                        <div class="main-header-left h-100 d-flex align-items-center">
                            <!-- Main Header User -->
                            <div class="main-header-user">
                                <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                    <div class="menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>

                                    <div class="user-profile d-xl-flex align-items-center d-none">
                                        <!-- User Avatar -->
                                        <!-- End User Avatar -->
                                        <!-- User Info -->
                                        <div class="user-info">
                                            <h4 class="user-name">{{ name }}</h4>
                                            <p class="user-email">{{ email }}</p>
                                        </div>
                                        <!-- End User Info -->
                                    </div>
                                </a>
                                <div class="dropdown-menu">

                                    <a href="{% url 'cikis-yap' %}">Çıkış</a>
                                </div>
                            </div>
                            <!-- End Main Header User -->
                            <!-- Sadece Beyaz

                            <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                <a href="{% url 'sepeti-sifirla' %}" class="btn">Sepeti Sıfırla ( F2 )</a>
                            </div>

                            <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                <a href="{% url 'Arama' %}" class="btn">Ürün Ara ( F3 )</a>
                            </div>
                            -->


                            <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                <a href="{% url 'urun-ara-beyaz' %}" class="btn">Ürün Beyaz ( F2 )</a>
                            </div>

                            <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                <a href="{% url 'sepeti-sifirla-beyaz' %}" class="btn">SepetSıfırla Beyaz ( F3 )</a>
                            </div>

                            <div class="main-header-btn ml-md-1" style="font-size: 12px;">
                                <a href="{% url 'musteri-listesi' %}" class="btn">Müşteri Listesi ( F4 )</a>
                            </div>


                        </div>
                        <!-- End Header Left -->
                    </div>
                    <div class="col-9 col-lg-11 col-xl-4">
                        <!-- Header Right -->
                        <div class="main-header-right d-flex justify-content-end">
                            <ul class="nav">


                                <li class="d-none d-lg-flex">
                                    <!-- Main Header Time -->
                                    <div class="main-header-date-time text-right">
                                        <h3 class="time">
                                            <span id="hours"></span>
                                            <span id="point">:</span>
                                            <span id="min"></span>
                                        </h3>
                                        <span class="date"><span id="date">En Güzel Şiirler.</span></span>
                                    </div>
                                    <!-- End Main Header Time -->
                                </li>


                                <!-- End Main Header Notification -->
                                </li>
                            </ul>
                        </div>
                        <!-- End Header Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Header -->
    </header>
    <!-- End Header -->


    <!-- Main Content -->
    <div style="margin-top: 65px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-30">
                        <div class="card-body pt-30">
                            {% if total %}
                                <h4 class="font-30 text-center">GENEL TOPLAM: {{ total }} TL</h4>
                            {% else %}
                                <h4 class="font-30 text-center">Sepette Hiç Ürüm Yok</h4>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <!-- Invoice List Table -->
                            <table class="text-nowrap hoverable dh-table">
                                <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Adeti</th>
                                    <th>Fiyatı</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Sepetten Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for urun in sepet_urunleri %}

                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="country-name">{{ urun.urun.Urun_Adi }}</div>
                                            </div>

                                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                            <script>
                                                $(document).ready(function () {
                                                    $('select[name="miktar"]').on('change', function () {
                                                        // Seçilen miktarı yakala
                                                        var miktar = $(this).val();

                                                        // Ürün ID'sini yakala
                                                        var urun_id = $(this).data('urun-id');

                                                        // Sepeti güncelle
                                                        $.ajax({
                                                            url: '/urun_miktar_guncelle/' + urun_id + '/',
                                                            type: 'POST',
                                                            data: {
                                                                miktar: miktar,
                                                            },
                                                            success: function (response) {
                                                                // Sayfayı yenile
                                                                location.reload();
                                                            },
                                                        });
                                                    });
                                                });

                                            </script>
                                        </td>


                                        <td>
                                            <select name="miktar" class="form-control form-control-sm"
                                                    data-urun-id="{{ urun.id }}">
                                                {% for i in Sayi %}
                                                    {% if i == urun.miktar %}
                                                        <option value="{{ i }}" selected>{{ i }}</option>
                                                    {% else %}
                                                        <option value="{{ i }}">{{ i }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>


                                        <td>{{ urun.toplam_fiyat }}</td>

                                        <td>{{ urun.urun.Tutar }}</td>
                                        <td>
                                            <form action="{% url 'sepet_urun_sil-beyaz' urun.id %}" method="POST">
                                                {% csrf_token %}
                                                <!--<input type="submit" value="Sil"> -->
                                                <button type="submit" class="status-btn un_paid">Sil</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <!-- End Invoice List Table -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Base Control -->
                    <div class="form-element base-control mb-30">
                        <h2 class="font-20 mb-4 text-center">{{ Turu }}</h2>

                        <style>
                            .form-container {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }

                            .form-container input[name="title"] {
                                width: 80%;
                                margin-right: 10px; /* İki eleman arasına 10px boşluk ekler */
                            }

                            .form-container button {
                                width: 20%;
                            }
                        </style>

                        <form action="{% url 'urun-ara-beyaz' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-container mb-4">
                                <input type="text" name="title" class="theme-input-style large" id="large1"
                                       placeholder="Lütfen Aranacak Barkod / Ürün Adı Giriniz" autofocus>
                                <button type="submit" class="btn long bg-warning">Ürünü Ara 🔍</button>
                            </div>
                        </form>


                        <!-- End Form -->

                        <script>
                            function filtrele(kategori) {
                                // Favoriler listesini filtrele
                                var favoriler = document.querySelectorAll('.favori');
                                favoriler.forEach(function (favori) {
                                    if (favori.dataset.kategori === kategori) {
                                        favori.style.display = 'block';
                                    } else {
                                        favori.style.display = 'none';
                                    }
                                });
                            }
                        </script>

                        <!-- AnaKategoriler -->
                        <div class="row">
                            {% for Kategori in AnaKategoriler %}
                                <div class="col-lg-1" style="margin-top: 5px;">
                                    <form action="{% url 'sepete-ekle-beyaz' %}" method="POST">
                                        {% csrf_token %}

                                        <div class="media-body" style="margin-left: 10px;">
                                            <button type="button" onclick="filtrele('{{ Kategori.Grup_Adi }}')"
                                                    class="btn s_alert bg-success text-white mr-1 mr-sm-1 mb-1"
                                                    id="submit"
                                                    style="font-size: 12px; padding: 10px;">{{ Kategori.Grup_Adi }}</button>
                                        </div>


                                    </form>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- AltFavoriler -->
                        <div class="row">
                            {% for favori in Favoriler %}
                                <div class="col-md-2 favori" data-kategori="{{ favori.Liste_grup }}"
                                     style="margin-top: 5px; display: none;">
                                    <form action="{% url 'sepete-ekle-beyaz' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="barkod" value="{{ favori.Barkod }}">
                                        <button type="submit" class="btn btn-sm"
                                                style="padding: 13px; font-size: 15px;">{{ favori.Urun_Adi }}</button>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>


                        <style>
                            .form-control.pd {
                                font-size: 20px;
                            }

                            .btn.style--three {
                                font-size: 12px;
                            }
                        </style>

                        <div class="row justify-content-center align-items-center" style="min-height: 5vh;">
                            <form action="{% url 'manuel-tutar-beyaz' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-4 text-center" style="margin-top: 10px;">
                                    <label class="mb-2 font-14 bold">Manuel Tutar Gir</label>
                                    <div class="theme-input-group style--two">
                                        <input type="text" class="form-control pd" name="tutar" placeholder="Tutar">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn style--three">Sepete Ekle</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Base Control -->


                </div>

                <div class="col-lg-12">
                    <div class="card mb-30">
                        <div class="card-body py-30 pb-0">
                            <h4 class="font-20 ">Bulunan Ürünler</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="style--four table-striped  text-nowrap">
                                <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Barkod</th>
                                    <th>Stok</th>
                                    <th>Fiyatı</th>
                                    <th>Sepete Ekle</th>
                                </tr>
                                </thead>
                                <tbody>


                                <style>
                                    .my-input {
                                        width: 3px !important;
                                        text-align: center;
                                    }
                                </style>

                                {% if results %}


                                    {% for result in results %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="country-name">{{ result.Urun_Adi }}</div>
                                                </div>
                                            </td>
                                            <td>{{ result.Barkod }}</td>

                                            <td>
                                                {% if result.Stok_Durumu %}
                                                    <button type="button" class="status-btn completed">Stokta</button>
                                                {% else %}
                                                    <button type="button" class="status-btn un_paid">Stokta Yok</button>
                                                {% endif %}
                                            </td>
                                            <td>{{ result.Tutar }}</td>
                                            <td>
                                                <form method="POST" action="/sepete-ekle-beyaz/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="barkod" value="{{ result.Barkod }}">

                                                    <!--<button type="submit">Sepete Ekle</button>-->
                                                    <button type="submit" class="status-btn completed">Sepete Ekle
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">
                                                Ürün Bulunamadı.
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- End Main Content -->


<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="{% static 'WhiteAssetsPanel/js/jquery.min.js' %}"></script>
<script src="{% static 'WhiteAssetsPanel/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'WhiteAssetsPanel/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'WhiteAssetsPanel/js/script.js' %}"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>